$navbar-default-bg:	#4D4D3E;
$brand-info: #9F5B3D;
@import "bootstrap-sprockets";
@import "bootstrap";

// .navbar .navbar-default .navbar-fixed-top ul li a {
//   color: #fff !important;
// }

body {
  padding-top: 70px;
  background-color: #F2F2F2;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1em;
}

.badge {
  background-color: #cef6f5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

#logo {
  float: left;
  font-size: 2em;
  color:#fff;
  letter-spacing: -1px;
  font-weight:bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("second.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #4D4D3E;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: -1px;
  font-weight: bold;
}

#create {
  font-size: 1em;
}

.btn-xlrg {
  font-size: 1.8em;
  background-color: #8E4D39;
  border-color: #8E4D39;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #EEE9E3;
}

footer {
  margin-top: 50px;
  padding-top: 15px;
  border-top: 1px solid #403C34;
  text-align: center;
}

.article-actions {
  border-top: 1px solid #403C34;
  padding-top: 5px;
}

footer a:hover {
  color: #222 ;
}

footer small {
  text-align: center;
}
footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
